
<div class="modal fade" id="infoModal">
   <div class="modal-dialog">
       <div class="modal-content">
           <div class="modal-header">
            <h4 class="modal-title">Whosent - Block User</h4>
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
           </div>

           <div class="modal-body">
               {{message}}
           </div>
           <div class="modal-footer">	<a href="#" data-dismiss="modal" class="btn button-primary shadow">OK</a>

           </div>
       </div>
   </div>
</div>

    <!-- <div class="row">
        <div class="col-12 col-sm-8 col-md-7 col-lg-6 mx-auto overlay">
            <div  class="info-box top-margin bottom-margin">
                <div class="overlay">
                    hi mam!
                </div>
               {{message}}
            </div>
        </div>
    </div>  -->
