<nav class="navbar navbar-expand-lg navbar-dark navbar-scrolled">
    <a class="navbar-brand" href="#"><span class="goodone-title-blue">good</span><span class="goodone-title-yellow">ONE</span></a>
    <button id="navBar-toggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle whosent" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            goodONE Apps
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div id="whosent" class="dropdown-item" (click)="navigate('block-user')">WhoSent</div>
            <a class="dropdown-item" href="#">More coming soon...</a>
          </div>
        </li>
        <li class="nav-item home">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
       
      </ul>
      
    </div>
  </nav>
