.primary{
    background-color: #232F34;
    color: white;
    font-weight: bold;
}

body{
    background-color: #B4B3B3;
}

.button.primary{
    background-color: #E39B2D;
    color: black;
}

.button.secondary{
    background-color: #ACACAC;
    color: black;
}

.form{
    border-radius: 10px; 
}

.error-box{
    animation-name: zoominout;
    animation-duration: 500ms;
}
@keyframes zoominout {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}
