/* Primary Box */
.primary{
    box-shadow: 7px 4px 38px 0px black;
    background-color: #232F34;
    color: white;
    font-weight: bold;
}
/* ----------------------------------------------------------
Landing Page 
-------------------------------------------------------------*/
.landing-page-bg{
    width: 100%;
    height: 100vh;
    
}

.landing-page-bg .title{
    animation-name: fadeInUp-custom;
    animation-duration: 1s;
    }
#main .intro-info h2 {
    color: #413e66;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
  }
#main .intro-info h2 span {
    font-weight: bold;
    color: #E39B2D;
  }

.navbar{
    color: black;
    transition: all 0.6s;
    font-weight: bold;
}

.nav-item{
    cursor: pointer;
}

.navbar.navbar-scrolled{
    background-color: #232F34;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}


html,body{
    font-family: 'Manjari';
    height: 100%;
    position: relative;
    background: #f5f8fd url("./assets/images/intro-bg.jpg") center top no-repeat;
    background-size: cover;
}

/* Primary Button */
.button-primary{
    font-weight: bold;
    background-color: #E39B2D;
    color: black;
}

/* Secondary Button */
.button.secondary{
    font-weight: bold;
    background-color: #ACACAC;
    color: black;
}


.form{
    margin-top: 20px;
    color: white;
    border-radius: 10px; 
}

.error-box{
    animation-name: zoominout;
    animation-duration: 500ms;
}


.info-box{
    box-shadow: 7px 4px 38px 0px black;
    border-radius: 10px;
    background-color: #B4B3B3;
    animation-name: zoominout;
    animation-duration: 800ms;
}

.padding, .info-box{
    padding: 10px;
}

.margin{
    margin: 10px;
}

.bottom-margin{
    margin-bottom: 10px;
}

.top-margin{
    margin-top: 10px;
}

/* Text Color Secondary */


.bold{
    font-weight: bold;
}

.modal-content { 
    background-color: #B4B3B3; 
 }

 .btn-started{
     padding: 10px;
     border-radius: 10px;
     height: auto;
     width: auto;
     background-color:#3393DE;
     transition: background-color 800ms;
     color: white;
     animation-name: fadeIn-custom;
     animation-duration: 1.2s;

 }
 .btn-started:active, .btn-started:hover{
    background-color: #5eb9ff;
    cursor: pointer;
 }

 .goodone-title-yellow{
     color: #E8F04A;
     font-weight: bold;
 }

 .goodone-title-blue{
     color: #3393DE;
     font-weight: bold;
 }

 #quote span{
     color: #E39B2D;
 }

 #portfolio a{
     font-size: 1.5rem;
     font-weight: bold;
 }


 #footer a{
     color: rgb(170, 218, 255);
 }

 #contact{
    background-color: white;
    box-shadow: 0.1px 0.1px 10px -5px black;
    border-radius: 12px;
 }

 #footer, footer{
     background-color:#232F34 ;
     color: white;
     font-weight: bold;
 }

 #footer p{
     font-size:14px; font-size: 1.2rem;
     color: white;
     font-weight: normal;
 }

 #footer h3{
     color: #E39B2D;
 }



.box-text,.box-text-bottom{
    font-size: 2rem;
    background-color: white;
    box-shadow: 0.1px 0.1px 10px -5px black;
    border-radius: 12px;
}

/* Texts  */
.small-text{
    font-size: 1rem;
}

.content-text-normal{
    font-size: 1.2rem;
}

.content-text-emphasized{
    font-size: 1.3rem;
    font-weight: bold;
}
 .large-text{
     font-size: 2.5rem;
 }

 .color-secondary{
    color: #E39B2D;
}

.text-secondary{
    color: #E39B2D;
}

 /*For Mobile Screens */
 @media screen and (max-width:500px){
    .large-text{
        font-size: 1.7rem;
    }

    .box-text,.box-text-bottom{
        font-size: 1.6rem;
    }

    .content-text-normal{
        font-size: 1rem;
    }

    .content-text-emphasized{
        font-size: 1.2rem;
    }

   #quote .box-text{
        position: relative;
        top: -15%;
    }

    #quote .box-text-bottom{
        z-index: 999;
        position: relative;
        top: 15%;
    }

    #portfolio a{
        font-size: 1.3rem;
    }


    #footer p, #footer h3{
        font-size: 12px;font-size: 0.9rem;
    }
 }


 .cardBox, .cardBox-small{
     border-radius: 12px;
     box-shadow: 0.1px 0.5px 10px black;
 }
 .cardBox-small{
    width: 200px;
    height: auto;
 }


 

@keyframes zoominout {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.4,1.4);
    }
    100% {
        transform: scale(1,1);
    }
}

@keyframes fadeInUp-custom{
    from{
        position: relative;
        top: 40%;
    }

    to{
        position: relative;
        top: 0%;
    }
}

@keyframes fadeIn-custom{
    from{
        opacity: 0;
    }

    to{
    opacity: 1;
    }
}
