<app-nav-bar></app-nav-bar>
<section id="main" class="landing-page-bg">
    <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
          <div class="col-md-6 intro-info order-md-first order-last">
            <h2 class="wow fadeInUp">Digitalize<br>Your <span>Business!</span></h2>
            <div>
              <div class="btn-started wow fadeInUp col-5 col-md-3 text-center" data-wow-duration="1s">Get Started</div>
            </div>
          </div>
  
          <div class="col-md-6 intro-img order-md-last order-first">
            <img src="assets/images/intro-img.svg" alt="" class="img-fluid">
          </div>
        </div>
  
      </div>
</section>
<section id="quote" class="mt-5 p-3 text-center">
  <h1 class="wow fadeInUp">Get an app or website for your business at <br/><span>affordable price!</span></h1>
</section>

<section id="quote" class="row mx-3 p-2 wow fadeInLeft">
  <div class="col-12 col-md-6">
    <img src="assets/images/laptop2.jpg" class="img-fluid  card"/>
  </div>
  <div class="col-12 col-md-6 wow fadeInUp" wow-data-delay="300ms">
    <h1 class="large-text">Get <span>quality</span><br/>
    Apps and websites in <span>no time!</span></h1>
    <div class="col-12">
      <img src="assets/images/website.jpg" class="img-fluid card"/>
    </div>
  </div>
</section>
